@font-face {
  font-family: 'Roboto';
  src: url("@/assets/fonts/Roboto-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("@/assets/fonts/Roboto-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}
body {
  font-family: 'Roboto', sans-serif;
}
.shimmer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(90deg, rgba(243,244,246,0) 0%, rgba(243,244,246,0.6) 50%, rgba(243,244,246,0) 100%);
  animation: shimmer 1.5s infinite;
}
@-moz-keyframes shimmer {
  0% {
    left: -150%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes shimmer {
  0% {
    left: -150%;
  }
  100% {
    left: 100%;
  }
}
@-o-keyframes shimmer {
  0% {
    left: -150%;
  }
  100% {
    left: 100%;
  }
}
@keyframes shimmer {
  0% {
    left: -150%;
  }
  100% {
    left: 100%;
  }
}
